* {
    font-family: helvetica, sans-serif, arial;
    margin: 0;
    padding: 0;
}

body { 
    background-color: #121212;
    color: #ffffff;
    min-height: 100%;
}

html, body {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

p {
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    filter: brightness(75%);
}

input[type=text], [type=number] {
    height: 75px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

/* Main info */

.content {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 31.25em;
    min-width: 18.75em;
    padding: 1em;
    text-align: center;
}

#topInfo p {
    display: inline-block;
}

#infoDisplay {
    margin-top: 10px;
}

#infoDisplay p {
    display: inline-block;
}

/* Controls */

#programsContainer, #hitsContainer {
    width: 100%;
}

#programsContainer p, #hitsContainer p {
    display: inline;
    line-height: 50px;
}

#roundBtn {
    margin-top: 30px;
    background-color: RGB(36,138,61);
}

#newAccess {
    margin-top: 35px;
}

#newAccessBtn {
    margin-top: 5px;
    width: 100%;
    display: inline-block;
}

#stopBtn {
    background-color: RGB(48,209,88);
    color: #000000;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 95%;
}

#rebootControls {
    width: 100%;
    margin: 15px 0;
}

#rebootControls button {
    margin: 5px;
}

#rebootControlsConfirm {
    width: 100%;
    display: inline-block;
}

#accessList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
}

.access {
    margin: 5px 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    flex: auto;
    min-width: 100px;
    max-width: 300px;
    min-height: 100px;
    text-align: center;
}

.access p {
    margin: 5px;
    text-align: left;
}

.removeAccessButton {
    background-color: #121212;
    color: #ffffff;
    margin: 15px 0 10px 0;
    width: 90%;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.rebootBtn {
    background-color: RGB(255,69,58);
    color: white;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    width: 45%;
    height: 50px;
}

.rebootBtn:hover {
    filter: brightness(90%);
}

.metaControls {
    width: 100%;
    display: inline-block;
}

.numButton {
    background-color: RGB(142,142,147);
    font-family: arial;
    border-radius: 5px;
    border: none;
    width: 75px;
    height: 75px;
    font-size: 72px;
}

.wideButton {
    background-color: RGB(36,138,61);
    color: #000000;
    font-size: 54px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 75px;
}

.halfWideButton {
    background-color: RGB(36,138,61);
    color: #000000;
    font-size: 28px;
    border-radius: 5px;
    border: none;
    height: 75px;
    width: 48%;
}

.downBtn {
    float: left;
}

.upBtn {
    float: right;
}

.numIndicator {
    font-size: 48px;
}

.halfVisible {
    filter: brightness(25%);
}

.halfVisible:hover {
    filter: brightness(25%);
}

.fullyVisible   {
    filter: brightness(100%);
}

.hoverNo:hover {
    cursor: not-allowed;
}

.hoverYes:hover {
    filter: brightness(100%);
    cursor: pointer;
}

@keyframes fadeIn { 
    from { opacity: 0.20; } 
}

.animateFade {
    animation: fadeIn 1.3s infinite alternate;
}

/* Glitch effect for OS score, courtesy of https://1stwebdesigner.com/trippy-css-distortion-effects/ */

#osDiv{
    display: flex;
    width: 100%;
    height: 96px;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #131313;
    color: #fff;
    font-size: 96px;
    letter-spacing: -7px;
}

#roundsUntilGod {
    display: flex;
    width: 100%;
    height: 24px;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #131313;
    color: #fff;
    font-size: 24px;
}

.glitch{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .glitch:before,
  .glitch:after{
    content: attr(title);
    position: absolute;
  }
  
  .glitch:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }